  .Releases{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150vh;
  list-style-type: none;
  width: 90vw;

  li{
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 20vw;
    margin: 1px;
    font-size: 12px
  }

  a {
  color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  a:visited{
    color: white;
  }
  
  a:hover{
    transform: scale(1.2);
    color: blue;
  }
  }